body.no_scroll {
  overflow: hidden !important;
}
// body::-webkit-scrollbar {
//   width: 5px;  /* 스크롤바의 너비 */
// }

// body::-webkit-scrollbar-thumb {
//   height: 30%; /* 스크롤바의 길이 */
//   background: #fff; /* 스크롤바의 색상 */
//   border-radius: 10px;
// }

// body::-webkit-scrollbar-track {
//   // background: rgba(#000, 100%);
//   background: #000;
// }

body { background: $main-color; }

#wrap {
  height: 100vh;
  margin: auto;
}
.inner {
  max-width: 768px;
  width: 95%;
  // height: 100vh;
  margin: auto;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 1.2rem;
}
img {
  display: block;
  width: 75%;
  height: 100%;
  margin: 0 auto;
}
.btn {
  width: 50%;
  text-align: center;
  background: $dark-gray;
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin-top: 20px;
}
input {
  width: 50%;
  padding: 15px;
  border-radius: 10px;
  // border: 1px solid $gray1;
  border: none;
  outline: none;
  
}